<html>

<body bgcolor=#9d3bc4>

    <center>
        <h1><div class="print"><span style="color:#92B3B7"> {{name}} </span></div></h1>
        <h2>  BGG RATING PREDICTION : </h2>
        <h1><div class="print"><span style="color:#ced109"> {{data}} </span></div></h1>

    <h1> </h1><br>
    <h3><span style="color:#afacb9"> Thank You :) </span></span></h3>
    <a href="https://boardgamegeek.com/thread/2739929/october-bgg-store-update-pre-orders-galore"><img src='static\BGG2.png' border="0"></a>

        <br><br>
    <a href='/'>go back to home page</a>
    <h3> CodeStates AI_O6_김영우 Project 3 </h3>

    </center>

</body>

</html>